@model LanguageResource
<div class="portlet">
    <div class="portlet__body">
        @Html.EditorFor(d => d.Name)
        @Html.EditorFor(d => d.Value)
        @Html.EditorFor(d => d.LangCode)
        <h1>dasda</h1>
    </div>
</div>
